body{
	background-color: #9EFF60;
}
.formulario{
	border-radius: 10px;
	color: grey;
	display: block;
	background-color: white;
	width: 300px;
	margin: 0 auto;
	text-align: center;
	padding: 1em;
	opacity: 0.8;
}
.error{
	color: red;
	font-weight: bold;	
}
.success{
	color: green;
	font-weight: bold;
}